<a href="https://colab.research.google.com/github/iguv221/Tobigs_Assignment/blob/main/2%EC%A3%BC%EC%B0%A8_%ED%9A%8C%EA%B7%802_%EA%B9%80%EC%84%B1%EC%9A%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [과제 2] 회귀분석
### - Ch 1, Ch 2를 토대로 자유롭게 회귀분석과 회귀진단을 진행해주세요.
### - 주석으로 설명 및 근거 자세하게 달아주시면 감사하겠습니다. :)

In [57]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [58]:
%matplotlib inline 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings(action='ignore')

# Data

데이터 출처 : https://www.kaggle.com/avikasliwal/used-cars-price-prediction

< y > 
* **Price** : The price of the used car in INR Lakhs.



< X > 
* Name : The brand and model of the car
* Location : The location in which the car is being sold or is available for purchase.
* Year : The year or edition of the model.
* Kilometers_Driven : The total kilometres driven in the car by the previous owner(s) in KM.
* Fuel_Type : The type of fuel used by the car. (Petrol, Diesel, Electric, CNG, LPG)
* Transmission : The type of transmission used by the car. (Automatic / Manual)
* Owner_Type : Whether the ownership is Firsthand, Second hand or other.
* Mileage : The standard mileage offered by the car company in kmpl or km/kg
* Engine : The displacement volume of the engine in CC.
* Power : The maximum power of the engine in bhp.
* Seats : The number of seats in the car.
* New_Price : The price of a new car of the same model.

In [59]:
# Load Data 
data = pd.read_csv("/content/drive/MyDrive/ToBigs/과제 폴더/2주차/18기 2주차 1 Regression 강의자료/과제/assignment2_data.csv")
data.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74

In [60]:
data = data.drop(columns='Unnamed: 0')

In [61]:
## 결측치 확인
data.isna().sum()

Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  42
New_Price            5195
Price                   0
dtype: int64

In [62]:
## New Price 은 너무 높은 결측치 비율 때문에 열 자체를 제거.
data = data.drop(columns='New_Price')

In [63]:
## 나머지 결측치 제거.
data = data.dropna()
data.isna().sum()

Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

In [64]:
## 자동차 가격에 브랜드와 모델명은 분명 영향이 있을거라 생각하기 때문에 이를 분석에 활용해야한다.
## 하지만 그 이후 세부 모델까지 고려하면 변수가 너무 많아지기 때문에 이는 고려하지 않는다.
## 자동차 브랜드와 모델 까지만 고려한다.
def func_1(x,n):
    return x.Name.split()[n]
data['Brand'] = data.apply(lambda row: func_1(row,0), axis = 1)
data['Model'] = data.apply(lambda row: func_1(row,1), axis = 1)
data = data.drop(columns='Name')
data

,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Brand,Model
0,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,1.75,Maruti,Wagon
1,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,12.50,Hyundai,Creta
2,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,4.50,Honda,Jazz
3,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,6.00,Maruti,Ertiga
4,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,17.74,Audi,A4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,4.75,Maruti,Swift
6015,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,4.00,Hyundai,Xcent
6016,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,2.90,Mahindra,Xylo
6017,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,2.65,Maruti,Wagon
6018,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,2.50,Chevrolet,Beat

In [65]:
## 각 column 들 상태 확인.
for col in data.columns:
    if data[col].dtypes=='object':
        print("\n\n---" , col,"---")
        print(data[col].value_counts())
        print(len(data[col].value_counts()))

--- Location ---
Mumbai        784
Hyderabad     741
Kochi         648
Coimbatore    634
Pune          613
Delhi         549
Kolkata       530
Chennai       490
Jaipur        410
Bangalore     353
Ahmedabad     223
Name: Location, dtype: int64
11


--- Fuel_Type ---
Diesel    3195
Petrol    2714
CNG         56
LPG         10
Name: Fuel_Type, dtype: int64
4


--- Transmission ---
Manual       4266
Automatic    1709
Name: Transmission, dtype: int64
2


--- Owner_Type ---
First             4903
Second             953
Third              111
Fourth & Above       8
Name: Owner_Type, dtype: int64
4


--- Mileage ---
18.9 kmpl     172
17.0 kmpl     170
18.6 kmpl     119
20.36 kmpl     88
21.1 kmpl      86
             ...
14.57 kmpl      1
14.33 kmpl      1
22.8 km/kg      1
8.0 kmpl        1
17.24 kmpl      1
Name: Mileage, Length: 442, dtype: int64
442


--- Engine ---
1197 CC    606
1248 CC    512
1498 CC    303
998 CC     259
2179 CC    240
          ...
1489 CC      1
1422 CC      1
1978 CC      1
2694 CC      1
1797 CC      1
Name: Engine, Length: 145, dtype: int64
145


--- Power ---
74 bhp        235
98.6 bhp      131
73.9 bhp      125
140 bhp       123
78.9 bhp      111
             ...
201 bhp         1
199.3 bhp       1
95 bhp          1
152.88 bhp      1
181.04 bhp      1
Name: Power, Length: 371, dtype: int64
371


--- Brand ---
Maruti           1197
Hyundai          1100
Honda             601
Toyota            409
Mercedes-Benz     318
Volkswagen        315
Ford              298
Mahindra          271
BMW               262
Audi              236
Tata              186
Skoda             173
Renault           145
Chevrolet         121
Nissan             91
Land               57
Jaguar             40
Mitsubishi         27
Mini               26
Fiat               25
Volvo              21
Porsche            18
Jeep               15
Datsun             13
Force               3
ISUZU               2
Smart               1
Ambassador          1
Isuzu               1
Bentley             1
Lamborghini         1
Name: Brand, dtype: int64
31


--- Model ---
Swift     343
City      265
i20       247
Verna     170
Innova    164
         ...
Beetle      1
Petra       1
Evalia      1
Tiguan      1
F           1
Name: Model, Length: 209, dtype: int64
209

In [66]:
## 다음으로 아래와 같은 전처리 과정을 진행.
## 'Location' 은 차 가격과 직접적으로 상관이 없을 것 같으니 제거.
## 'Mileage' 은 뒤의 'kmpl' 제거해서 사용.
## 'Engine' 은 뒤의 'CC' 제거해서 사용.
## 'Power' 은 뒤의 'bhp' 제거해서 사용.
## 'Brand' 은 20개 이하인 것들을 '그 외' 로 바꾸어 사용.
## 'Model' 은 총 209개의 종류를 가지고 있기 때문에 오히려 데이터 오염시킬 수 있어 제거.
## 범주형 변수들은 one-hot encoding 을 시켜주고 linear regression 진행.

In [67]:
## 불필요한 열들 제거.
data = data.drop(columns=['Location','Model'])

In [69]:
def func_2(x,column_name):
    return (x[column_name].split()[0])

data['Mileage'] = data.apply(lambda row: func_2(row,'Mileage'), axis = 1)
data['Engine'] = data.apply(lambda row: func_2(row,'Engine'), axis = 1)
data['Power'] = data.apply(lambda row: func_2(row,'Power'), axis = 1)

## 모델 돌리며 확인해보니 'Power' 열에 'null' string 소수가 발견되어서 이를 제거해야함.
data = data.iloc[(np.where(data['Power']!='null'))]
data[['Mileage','Engine','Power']] = data[['Mileage','Engine','Power']].astype('float')
data

,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Brand
0,2010,72000,CNG,Manual,First,26.60,998.0,58.16,5.0,1.75,Maruti
1,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,12.50,Hyundai
2,2011,46000,Petrol,Manual,First,18.20,1199.0,88.70,5.0,4.50,Honda
3,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,6.00,Maruti
4,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,17.74,Audi
...,...,...,...,...,...,...,...,...,...,...,...
6014,2014,27365,Diesel,Manual,First,28.40,1248.0,74.00,5.0,4.75,Maruti
6015,2015,100000,Diesel,Manual,First,24.40,1120.0,71.00,5.0,4.00,Hyundai
6016,2012,55000,Diesel,Manual,Second,14.00,2498.0,112.00,8.0,2.90,Mahindra
6017,2013,46000,Petrol,Manual,First,18.90,998.0,67.10,5.0,2.65,Maruti
6018,2011,47000,Diesel,Manual,First,25.44,936.0,57.60,5.0,2.50,Chevrolet

In [70]:
data.dtypes

Year                   int64
Kilometers_Driven      int64
Fuel_Type             object
Transmission          object
Owner_Type            object
Mileage              float64
Engine               float64
Power                float64
Seats                float64
Price                float64
Brand                 object
dtype: object

In [71]:
one_hot_1 = pd.get_dummies(data.Fuel_Type, prefix='Fuel_Type')
one_hot_2 = pd.get_dummies(data.Transmission, prefix='Transmission')
one_hot_3 = pd.get_dummies(data.Owner_Type, prefix='Owner_Type')
one_hot_4 = pd.get_dummies(data.Brand, prefix='Brand')

data = data.drop(columns = ['Fuel_Type' , 'Transmission' , 'Owner_Type', 'Brand'])
data = data.join(one_hot_1)
data = data.join(one_hot_2)
data = data.join(one_hot_3)
data = data.join(one_hot_4)
data

,Year,Kilometers_Driven,Mileage,Engine,Power,Seats,Price,Fuel_Type_CNG,Fuel_Type_Diesel,Fuel_Type_LPG,...,Brand_Mini,Brand_Mitsubishi,Brand_Nissan,Brand_Porsche,Brand_Renault,Brand_Skoda,Brand_Tata,Brand_Toyota,Brand_Volkswagen,Brand_Volvo
0,2010,72000,26.60,998.0,58.16,5.0,1.75,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2015,41000,19.67,1582.0,126.20,5.0,12.50,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,2011,46000,18.20,1199.0,88.70,5.0,4.50,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2012,87000,20.77,1248.0,88.76,7.0,6.00,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,2013,40670,15.20,1968.0,140.80,5.0,17.74,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,2014,27365,28.40,1248.0,74.00,5.0,4.75,0,1,0,...,0,0,0,0,0,0,0,0,0,0
6015,2015,100000,24.40,1120.0,71.00,5.0,4.00,0,1,0,...,0,0,0,0,0,0,0,0,0,0
6016,2012,55000,14.00,2498.0,112.00,8.0,2.90,0,1,0,...,0,0,0,0,0,0,0,0,0,0
6017,2013,46000,18.90,998.0,67.10,5.0,2.65,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6018,2011,47000,25.44,936.0,57.60,5.0,2.50,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [73]:
from sklearn.linear_model import LinearRegression

In [74]:
data.columns

Index(['Year', 'Kilometers_Driven', 'Mileage', 'Engine', 'Power', 'Seats',
       'Price', 'Fuel_Type_CNG', 'Fuel_Type_Diesel', 'Fuel_Type_LPG',
       'Fuel_Type_Petrol', 'Transmission_Automatic', 'Transmission_Manual',
       'Owner_Type_First', 'Owner_Type_Fourth & Above', 'Owner_Type_Second',
       'Owner_Type_Third', 'Brand_Ambassador', 'Brand_Audi', 'Brand_BMW',
       'Brand_Bentley', 'Brand_Chevrolet', 'Brand_Datsun', 'Brand_Fiat',
       'Brand_Force', 'Brand_Ford', 'Brand_Honda', 'Brand_Hyundai',
       'Brand_ISUZU', 'Brand_Isuzu', 'Brand_Jaguar', 'Brand_Jeep',
       'Brand_Lamborghini', 'Brand_Land', 'Brand_Mahindra', 'Brand_Maruti',
       'Brand_Mercedes-Benz', 'Brand_Mini', 'Brand_Mitsubishi', 'Brand_Nissan',
       'Brand_Porsche', 'Brand_Renault', 'Brand_Skoda', 'Brand_Tata',
       'Brand_Toyota', 'Brand_Volkswagen', 'Brand_Volvo'],
      dtype='object')

In [75]:
Y = data['Price']
X = data.drop(columns='Price')

In [76]:
X

,Year,Kilometers_Driven,Mileage,Engine,Power,Seats,Fuel_Type_CNG,Fuel_Type_Diesel,Fuel_Type_LPG,Fuel_Type_Petrol,...,Brand_Mini,Brand_Mitsubishi,Brand_Nissan,Brand_Porsche,Brand_Renault,Brand_Skoda,Brand_Tata,Brand_Toyota,Brand_Volkswagen,Brand_Volvo
0,2010,72000,26.60,998.0,58.16,5.0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2015,41000,19.67,1582.0,126.20,5.0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2011,46000,18.20,1199.0,88.70,5.0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2012,87000,20.77,1248.0,88.76,7.0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2013,40670,15.20,1968.0,140.80,5.0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,2014,27365,28.40,1248.0,74.00,5.0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6015,2015,100000,24.40,1120.0,71.00,5.0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6016,2012,55000,14.00,2498.0,112.00,8.0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6017,2013,46000,18.90,998.0,67.10,5.0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
6018,2011,47000,25.44,936.0,57.60,5.0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [77]:
model = LinearRegression()
model.fit(X,Y)
pred = model.predict(X)

In [78]:
print(pred)

[-1.45467637 10.68683041  0.83304134 ...  5.77374706  3.04205353
 -1.39929966]

In [79]:
print(Y)

0        1.75
1       12.50
2        4.50
3        6.00
4       17.74
        ...
6014     4.75
6015     4.00
6016     2.90
6017     2.65
6018     2.50
Name: Price, Length: 5872, dtype: float64

In [80]:
def RMSE(real,pred):
    return np.sqrt(np.mean((real-pred)**2))

In [81]:
print(RMSE(Y,pred))

5.3890189971727995