<a href="https://colab.research.google.com/github/iguv221/Tobigs_Assignment/blob/main/4%EC%A3%BC%EC%B0%A8_Clustering_%EA%B9%80%EC%84%B1%EC%9A%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 18기 Clustering 정규세션 과제

## Clustering 해보기
### 1. Preprocssing / EDA
지금까지 배운 내용을 토대로 해당 데이터에 대해 자유롭게 전처리와 EDA를 진행해주세요.
### 2. Clustering 
수업 내용 및 실습 자료를 참고하여 클러스터링을 자유롭게 진행해주세요. 한 알고리즘에 대해 파라미터를 바꿔가며 비교를 해도 되고, 여러 알고리즘의 결과를 비교해도 됩니다.
### 3. Evaluation
결과에 대한 평가를 진행하고, 나름의 해석을 달아주세요.

**데이터:** [Mall Customer Segmentation Data| Kaggle](https://www.kaggle.com/vjchoudhary7/customer-segmentation-tutorial-in-python)

---

## 0. 데이터 불러오기

In [12]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [13]:
import pandas as pd
import numpy as np
import pandas as pd

In [14]:
df = pd.read_csv("/content/drive/MyDrive/ToBigs/과제 폴더/4주차/Tobigs18기_Week4_KNN&Clustering/과제/Mall_Customers.csv", index_col = 0)
print(len(df))
df

200

            Gender  Age  Annual Income (k$)  Spending Score (1-100)
CustomerID
1             Male   19                  15                      39
2             Male   21                  15                      81
3           Female   20                  16                       6
4           Female   23                  16                      77
5           Female   31                  17                      40
...            ...  ...                 ...                     ...
196         Female   35                 120                      79
197         Female   45                 126                      28
198           Male   32                 126                      74
199           Male   32                 137                      18
200           Male   30                 137                      83

[200 rows x 4 columns]

In [15]:
df['Gender'] = np.where(df['Gender']=='Male',0,1)
df

            Gender  Age  Annual Income (k$)  Spending Score (1-100)
CustomerID
1                0   19                  15                      39
2                0   21                  15                      81
3                1   20                  16                       6
4                1   23                  16                      77
5                1   31                  17                      40
...            ...  ...                 ...                     ...
196              1   35                 120                      79
197              1   45                 126                      28
198              0   32                 126                      74
199              0   32                 137                      18
200              0   30                 137                      83

[200 rows x 4 columns]

In [16]:
from sklearn.cluster import AgglomerativeClustering

In [17]:
y = df['Spending Score (1-100)']
x = df.drop(columns='Spending Score (1-100)')

In [18]:
CluModel = AgglomerativeClustering(
    linkage = 'complete',
    affinity = 'euclidean',
    distance_threshold = 7,
    n_clusters= None)

In [19]:
pred = CluModel.fit_predict(x)

In [21]:
print(np.array(y))
print(pred)

[39 81  6 77 40 76  6 94  3 72 14 99 15 77 13 79 35 66 29 98 35 73  5 73
 14 82 32 61 31 87  4 73  4 92 14 81 17 73 26 75 35 92 36 61 28 65 55 47
 42 42 52 60 54 60 45 41 50 46 51 46 56 55 52 59 51 59 50 48 59 47 55 42
 49 56 47 54 53 48 52 42 51 55 41 44 57 46 58 55 60 46 55 41 49 40 42 52
 47 50 42 49 41 48 59 55 56 42 50 46 43 48 52 54 42 46 48 50 43 59 43 57
 56 40 58 91 29 77 35 95 11 75  9 75 34 71  5 88  7 73 10 72  5 93 40 87
 12 97 36 74 22 90 17 88 20 76 16 89  1 78  1 73 35 83  5 93 26 75 20 95
 27 63 13 75 10 92 13 86 15 69 14 90 32 86 15 88 39 97 24 68 17 85 23 69
  8 91 16 79 28 74 18 83]
[67 67 67 30 66 30 35 30 28 66 28 35 53 30 35 30 35  9 17 24 24  9 46 61
 17 61 46 24 16  3 50  3 40  3 40  3 16  1  1 22 48 22  7  4  7 22  7  4
  4  4  7  4  4  2  7  7  7 20 25  2 20 43 20  2 39 43 45 20 43 25 20 45
 39 39 10 33 56 44 33 56 10 44 57 56 33 56 10 33 29 52 32  6 52 38 29  6
 52 49 52  6  6 52 32 49 52  6 32  8 32 32 32 60 38 60 60 60 64  8  8  8
 19 18 18 18 19 23 27 18 41 18 27 18 19 23 34 23 27 23 34 42 13 42 11 42
 11 11 51 42 42 42 51 62 51 62 51 11 62 11 42 11 13 11 58 63 37 14 59 14
 14 14 59 47 14 14 37 47 26 47 26 21 21 12 65 12 31 12 36 12 31 54 54 54
 15 15  5  0  5  0 55 55]