<a href="https://colab.research.google.com/github/iguv221/Tobigs_Assignment/blob/main/4%EC%A3%BC%EC%B0%A8_KNN_%EA%B9%80%EC%84%B1%EC%9A%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 17기 KNN 정규세션 과제

## KNN 구현해보기
### 1. Preprocssing / EDA
지금까지 배운 내용을 토대로 해당 데이터에 대해 자유롭게 전처리와 EDA를 진행해주세요.
### 2. KNN 구현 & 파라미터 튜닝
수업 내용 및 실습 자료를 참고하여 KNN을 구현하고 파라미터 튜닝을 하며 결과를 비교해주세요.
### 3. Evaluation
결과에 대한 평가를 진행하고, 나름의 해석을 달아주세요.

**데이터:** [blackfriday | Kaggle](https://www.kaggle.com/llopesolivei/blackfriday)

---

## 0. 데이터 불러오기

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("/content/drive/MyDrive/ToBigs/과제 폴더/4주차/Tobigs18기_Week4_KNN&Clustering/과제/blackfriday.csv", index_col = 0)
print(len(df))
df

4998

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1001088,P00046042,F,0-17,10,A,3,0,5,17.0,NaN,2010
1,1004493,P00347742,F,0-17,10,A,1,0,7,NaN,NaN,4483
2,1005302,P00048942,F,0-17,10,A,1,0,1,4.0,NaN,7696
3,1001348,P00145242,F,0-17,10,A,3,0,2,4.0,NaN,16429
4,1001348,P00106742,F,0-17,10,A,3,0,3,5.0,NaN,5780
...,...,...,...,...,...,...,...,...,...,...,...,...
4993,1000837,P00147942,M,55+,7,C,1,1,1,16.0,NaN,11701
4994,1000293,P00358242,M,55+,1,C,1,1,8,NaN,NaN,2045
4995,1001908,P00173342,M,55+,13,C,3,1,1,6.0,14.0,4505
4996,1005517,P00336742,M,55+,0,C,2,1,12,NaN,NaN,1413
4997,1003015,P00141842,M,55+,6,C,0,1,5,14.0,NaN,7182

# 데이터의 개수는 4998, 거의 5000 이다.

# Step 1.
# 데이터 전처리

In [4]:
### 결측치 확인
df.isna().sum()

User_ID                          0
Product_ID                       0
Gender                           0
Age                              0
Occupation                       0
City_Category                    0
Stay_In_Current_City_Years       0
Marital_Status                   0
Product_Category_1               0
Product_Category_2            1533
Product_Category_3            3454
Purchase                         0
dtype: int64

In [5]:
### Product_Category_2 와 Product_Category_3 은 5000개 전체 데이터에 비해 결측치가 너무 많다.
### 물품의 분류는 가격에 영향을 끼칠 것이라 생각은 들지만 이 정도 결측치로 예측을 진행하기에는 힘들기에 제거한다.
df = df.drop(columns=['Product_Category_2','Product_Category_3'])

In [6]:
print(df.columns)
for col in df.columns:
    print('\n\n',col)
    print(df[col].value_counts())

Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
       'Purchase'],
      dtype='object')


 User_ID
1002063    12
1005795    12
1001980    11
1004344    11
1006036    10
           ..
1004980     1
1004385     1
1004138     1
1002648     1
1000837     1
Name: User_ID, Length: 2656, dtype: int64


 Product_ID
P00265242    21
P00220442    16
P00114942    15
P00010742    15
P00148642    15
             ..
P00072342     1
P00037842     1
P00207042     1
P00129742     1
P00358242     1
Name: Product_ID, Length: 1797, dtype: int64


 Gender
M    3765
F    1233
Name: Gender, dtype: int64


 Age
26-35    1996
36-45    1000
18-25     906
46-50     414
51-55     350
55+       195
0-17      137
Name: Age, dtype: int64


 Occupation
4     706
0     572
7     535
1     460
17    339
12    305
20    285
2     251
14    245
16    244
6     186
3     160
15    133
10    122
5      98
11     95
19     73
13     65
18     56
9      50
8      18
Name: Occupation, dtype: int64


 City_Category
B    2102
C    1555
A    1341
Name: City_Category, dtype: int64


 Stay_In_Current_City_Years
1     1758
2      915
3      908
4+     742
0      675
Name: Stay_In_Current_City_Years, dtype: int64


 Marital_Status
0    2892
1    2106
Name: Marital_Status, dtype: int64


 Product_Category_1
5     1407
1     1285
8      995
2      227
11     206
3      193
6      193
4      107
16      78
15      57
13      43
10      41
7       40
12      31
20      31
19      20
14      19
18      18
17       6
9        1
Name: Product_Category_1, dtype: int64


 Purchase
7001     6
7063     6
5328     6
8115     6
7176     5
        ..
12069    1
16668    1
3187     1
4043     1
1413     1
Name: Purchase, Length: 3736, dtype: int64

## 위의 value_counts 을 통해 파악할 수 있는 점.
1. 'User_ID' 와 'Product_ID' 은 제거해도 될것 같다.
2. 'Gender' 은 M 과 F 으로 이루어졌는데 M 은 0으로, F 은 1 로 변환하는게 좋을 것 같다.
3. 'Age', 'City_Category',  은 classified age 으로 one-hot encoding 이 적절해 보인다.
4. 'Stay_In_Current_City_Years' 에서 '4+' 은 4로 바꾼다.
5. 'Occupation', 'Product_Category_1' 은 일단은 그대로 둔다.

In [7]:
### 우선 User_ID 와 Product_ID 은 판매 가격에 영향을 안 끼칠 것이기 때문에 제거.
df = df.drop(columns=['User_ID','Product_ID'])
df

,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Purchase
0,F,0-17,10,A,3,0,5,2010
1,F,0-17,10,A,1,0,7,4483
2,F,0-17,10,A,1,0,1,7696
3,F,0-17,10,A,3,0,2,16429
4,F,0-17,10,A,3,0,3,5780
...,...,...,...,...,...,...,...,...
4993,M,55+,7,C,1,1,1,11701
4994,M,55+,1,C,1,1,8,2045
4995,M,55+,13,C,3,1,1,4505
4996,M,55+,0,C,2,1,12,1413
4997,M,55+,6,C,0,1,5,7182

In [8]:
df['Gender'] = np.where(df['Gender']=='M',0,1)
df

,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Purchase
0,1,0-17,10,A,3,0,5,2010
1,1,0-17,10,A,1,0,7,4483
2,1,0-17,10,A,1,0,1,7696
3,1,0-17,10,A,3,0,2,16429
4,1,0-17,10,A,3,0,3,5780
...,...,...,...,...,...,...,...,...
4993,0,55+,7,C,1,1,1,11701
4994,0,55+,1,C,1,1,8,2045
4995,0,55+,13,C,3,1,1,4505
4996,0,55+,0,C,2,1,12,1413
4997,0,55+,6,C,0,1,5,7182

In [9]:
one_hot_columns = ['Age','City_Category']
for col in one_hot_columns:
    dummies = pd.get_dummies(df[col],prefix=col)
    df = df.join(dummies)
    df = df.drop(columns=col)
df

,Gender,Occupation,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Purchase,Age_0-17,Age_18-25,Age_26-35,Age_36-45,Age_46-50,Age_51-55,Age_55+,City_Category_A,City_Category_B,City_Category_C
0,1,10,3,0,5,2010,1,0,0,0,0,0,0,1,0,0
1,1,10,1,0,7,4483,1,0,0,0,0,0,0,1,0,0
2,1,10,1,0,1,7696,1,0,0,0,0,0,0,1,0,0
3,1,10,3,0,2,16429,1,0,0,0,0,0,0,1,0,0
4,1,10,3,0,3,5780,1,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4993,0,7,1,1,1,11701,0,0,0,0,0,0,1,0,0,1
4994,0,1,1,1,8,2045,0,0,0,0,0,0,1,0,0,1
4995,0,13,3,1,1,4505,0,0,0,0,0,0,1,0,0,1
4996,0,0,2,1,12,1413,0,0,0,0,0,0,1,0,0,1
4997,0,6,0,1,5,7182,0,0,0,0,0,0,1,0,0,1

In [10]:
df['Stay_In_Current_City_Years'] = df['Stay_In_Current_City_Years'].replace(['4+'],'4')

In [11]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import train_test_split

In [12]:
y = df['Purchase']
x = df.drop(columns='Purchase')

In [13]:
x

,Gender,Occupation,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Age_0-17,Age_18-25,Age_26-35,Age_36-45,Age_46-50,Age_51-55,Age_55+,City_Category_A,City_Category_B,City_Category_C
0,1,10,3,0,5,1,0,0,0,0,0,0,1,0,0
1,1,10,1,0,7,1,0,0,0,0,0,0,1,0,0
2,1,10,1,0,1,1,0,0,0,0,0,0,1,0,0
3,1,10,3,0,2,1,0,0,0,0,0,0,1,0,0
4,1,10,3,0,3,1,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4993,0,7,1,1,1,0,0,0,0,0,0,1,0,0,1
4994,0,1,1,1,8,0,0,0,0,0,0,1,0,0,1
4995,0,13,3,1,1,0,0,0,0,0,0,1,0,0,1
4996,0,0,2,1,12,0,0,0,0,0,0,1,0,0,1
4997,0,6,0,1,5,0,0,0,0,0,0,1,0,0,1

In [14]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.1, random_state=42)
KNN = KNeighborsRegressor(12)
KNN.fit(x_train, y_train)

KNeighborsRegressor(n_neighbors=12)

In [15]:
train_pred = KNN.predict(x_train)
test_pred = KNN.predict(x_test)

In [18]:
print(np.array(y_train))
print(train_pred)

[ 4497 15210 10147 ...  6909  8112 15365]
[13571.41666667 13180.83333333 12984.         ...  5764.58333333
  6983.58333333 14377.08333333]

In [17]:
print(np.array(y_test))
print(test_pred)

84       6682
2470     5430
2803    11739
4986     8723
4923    11561
        ...
2644    13293
3711    12601
2031     8847
135     15605
4676     9753
Name: Purchase, Length: 500, dtype: int64
[ 9898.91666667  6943.08333333 14926.91666667  6021.75
 13113.08333333  6139.66666667 12144.5         9557.75
  5347.75        4885.41666667 12612.08333333 14042.25
  6691.83333333 12347.5        12953.          8964.75
  6681.58333333  7321.5         7728.91666667  6201.83333333
  5368.08333333 11801.91666667  9270.5         6071.33333333
  6332.66666667  7435.5        14186.75        7496.83333333
  3135.66666667  7980.83333333 14637.66666667  6265.66666667
 13584.08333333  9720.16666667  7725.91666667  7634.83333333
 13023.25        7322.          6381.66666667  5667.5
  5032.08333333  5201.16666667  5044.75        7015.83333333
  6858.58333333 13305.66666667  6159.91666667 12814.41666667
  9452.58333333  5780.66666667  8679.25        5721.83333333
  6077.75        6701.58333333  6347.5        12064.08333333
 14825.58333333 15207.33333333 13978.83333333  4649.
 10534.66666667 12394.08333333  5880.33333333 11480.91666667
 13644.          5333.16666667 12548.75       13232.41666667
 13007.66666667  6811.41666667  7787.91666667  6716.5
  8174.         12784.         11546.33333333 10207.75
  7923.33333333  5861.16666667 10796.08333333  6557.16666667
  5028.25        6446.66666667  8342.41666667  7186.83333333
  8420.5         7129.41666667 11998.5         7186.33333333
  1407.16666667  7463.         13324.66666667  8707.
 14547.25        7087.41666667 13388.91666667  2204.75
 14973.83333333 13287.83333333 13974.66666667  4719.5
 14856.25       10104.66666667  6974.91666667  8176.91666667
 14791.08333333 13285.25       15057.75        6582.66666667
 14471.66666667  7744.91666667 14614.5         7347.75
  7623.58333333 14216.41666667 12345.33333333  7617.41666667
 13277.          6435.         10058.41666667 12284.91666667
  6922.08333333 10412.25        8592.16666667  5527.
  7465.16666667  6300.66666667 11033.83333333  7066.16666667
 12630.08333333 12039.75       17121.75        5912.25
  6465.66666667 12638.25        6614.5         7438.41666667
  9040.58333333  7744.91666667 10975.5         4788.75
 12306.75        7314.         13516.91666667  8570.25
  4272.          7588.83333333  5898.83333333 13375.
 13239.83333333 17265.         12312.66666667 13648.83333333
  6805.08333333 11439.         12848.08333333  6897.5
  5495.58333333 12415.41666667  6289.83333333 13255.91666667
 13930.16666667  5667.5         6597.58333333  6498.25
  7209.33333333  6817.33333333 15857.66666667 13959.16666667
 14712.58333333 10240.25        5611.41666667  3431.75
 10466.33333333  7194.58333333  7607.16666667  4235.83333333
  7739.25        8853.58333333  8227.91666667  9205.83333333
  7007.91666667  8269.08333333  4792.25        5577.58333333
  9139.16666667  7794.75        7361.91666667 12748.08333333
 15403.16666667  8913.         12927.16666667 13496.25
  7296.25        8106.25       12416.83333333  7613.91666667
 12136.08333333  5895.33333333  5934.5        15596.33333333
  7528.16666667 11928.16666667 11688.75        6495.25
 13335.58333333  8019.91666667  7849.75       15045.08333333
  8092.          9103.41666667  6663.          5262.66666667
  5890.16666667 13701.58333333 11283.33333333  7629.08333333
  6479.33333333 12519.66666667  7143.66666667 14171.91666667
 13731.33333333 12376.         12892.33333333 10473.16666667
 13132.41666667 12744.41666667  2218.5        11157.08333333
 13866.91666667 12780.91666667  6764.16666667  8114.91666667
  8142.25        7612.91666667 10111.08333333 13581.5
  6142.16666667  6203.58333333 11251.08333333  7829.
 13805.58333333 12216.83333333 13098.83333333  7292.16666667
 14621.58333333  4294.66666667  7597.33333333  9710.58333333
 14379.66666667  6485.41666667  6599.91666667  5570.25
  8507.91666667  6016.41666667  6101.33333333  7468.5
  5858.         15863.08333333  6830.83333333  8844.75
  6579.75       10807.66666667  6566.75        8848.91666667
  7631.5         6466.33333333  7607.16666667 10140.
  8872.75        6469.66666667  6929.91666667  8455.58333333
  2233.91666667 13874.91666667  6893.16666667  7318.66666667
 15102.75        8699.91666667  8545.5         6794.66666667
  7621.08333333 10092.33333333  7965.          3872.33333333
  9353.66666667 11059.83333333 14065.25        5853.83333333
  7456.41666667 14611.75        6685.58333333 10886.08333333
  6458.66666667  8645.08333333   499.08333333  3869.66666667
 13369.          5912.25       12484.58333333 13181.58333333
 14545.         13113.08333333  5733.33333333  7151.58333333
  6325.75       14204.66666667  5992.33333333  5028.83333333
  8667.41666667  5712.5         8528.25       14278.33333333
 11449.33333333  6943.08333333 16814.41666667  7790.08333333
 11021.91666667 12575.5         6937.16666667 10667.33333333
  6054.5        14743.16666667 12630.08333333  5017.66666667
 12712.41666667 13701.58333333  6842.91666667  7441.08333333
  7057.25        8521.08333333 10897.08333333 12039.75
  7436.91666667  6617.83333333 10975.5         8005.5
 12457.          9694.91666667  7504.66666667  6347.5
  5934.5         9715.08333333  7496.83333333 11455.5
  7144.33333333  8446.08333333  6675.58333333  8167.66666667
  6815.33333333  3060.08333333 14933.75        5731.83333333
 11956.83333333  5875.08333333  7305.66666667 13953.91666667
 12848.58333333 13324.66666667 14017.          6583.75
  5758.83333333 16191.16666667  1558.25        5462.08333333
 10446.16666667  5755.33333333  7728.66666667  7614.83333333
 10466.33333333  7623.58333333  5792.5        13866.91666667
  7457.08333333 10918.         15880.33333333  5614.33333333
  6187.91666667 14023.66666667 10568.08333333 14642.25
  7819.5         7125.66666667  7267.          9585.83333333
  8225.75        5428.16666667 14399.25        7229.25
  7824.33333333  6853.75        7806.16666667  7484.5
  7265.91666667  7209.33333333 12200.75       11320.
  7674.08333333  5679.66666667 12136.08333333  6307.33333333
 13007.66666667  6159.41666667  7011.         12137.25
  8138.41666667 14001.          8278.25       13741.66666667
  6876.33333333 13866.91666667  9668.16666667  5436.5
  6149.08333333  7969.25        6834.08333333  6631.83333333
 12896.33333333  6187.41666667  6805.91666667  8100.08333333
  7853.5         7206.75        9296.75       10324.41666667
  4541.16666667  6307.75        8295.         16531.33333333
  8353.5        10056.16666667  9949.66666667 10018.66666667
 10733.41666667  6051.83333333  6661.83333333 15295.41666667
  8471.91666667  5753.5        12575.08333333  8243.83333333
 13866.91666667  5888.75       12927.16666667 14185.66666667
 13673.08333333  6990.91666667 12590.33333333  6276.91666667
  6591.66666667  6187.25       13874.66666667 11219.08333333
 10226.25        5157.83333333  7818.91666667 11846.66666667
 14331.41666667  7551.         12514.5        11928.16666667
 14185.66666667  7124.75        4996.          6189.75
  5119.91666667 14304.33333333  6254.5         5119.91666667
 10261.08333333  8584.25        7518.5         6842.91666667
  7361.91666667  4226.33333333  6651.25       13669.5
  5904.         15398.66666667  5625.08333333  7159.33333333
  6827.25        7613.91666667  5038.66666667  7924.75
 12344.5         7436.91666667  7839.66666667  7310.58333333
  5625.08333333  5981.         13211.41666667  9719.5
  5731.25        5667.5         6850.33333333  8249.91666667
 12959.          6720.66666667 13369.          7547.5       ]