# NLP Basic Assignment
## NLP 맛보기 - spam.csv를 가지고 유의미한 해석을 도출해주세요!

In [28]:
# 필요한 모듈 불러오기
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Load Data
- 보시면 아시다시피 spam.csv는 라벨이 있는 데이터입니다. 물론 7주차 주제가 텍스트 기초인만큼 텍스트만 활용하셔도 되고, 라벨까지 활용하셔서 모델을 돌려보셔도 좋습니다 :)

In [29]:
spam = pd.read_csv('spam.csv')
spam

,v1,v2
0,ham,"Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat..."
1,ham,Ok lar... Joking wif u oni...
2,spam,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's
3,ham,U dun say so early hor... U c already then say...
4,ham,"Nah I don't think he goes to usf, he lives around here though"
...,...,...
5567,spam,"This is the 2nd time we have tried 2 contact u. U have won the å£750 Pound prize. 2 claim is easy, call 087187272008 NOW1! Only 10p per minute. BT-national-rate."
5568,ham,Will Ì_ b going to esplanade fr home?
5569,ham,"Pity, * was in mood for that. So...any other suggestions?"
5570,ham,The guy did some bitching but I acted like i'd be interested in buying something else next week and he gave it to us for free
5571,ham,Rofl. Its true to its name

In [30]:
spam['v1'].value_counts()

ham     4825
spam    747
Name: v1, dtype: int64

In [31]:
spam.iloc[5]['v2']

"FreeMsg Hey there darling it's been 3 week's now and no word back! I'd like some fun you up for it still? Tb ok! XxX std chgs to send, å£1.50 to rcv"

In [32]:
# spam -> 0, ham -> 1로 바꾸기
spam.v1 = spam.v1.replace(['ham','spam'],[0,1])
spam

,v1,v2
0,0,"Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat..."
1,0,Ok lar... Joking wif u oni...
2,1,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's
3,0,U dun say so early hor... U c already then say...
4,0,"Nah I don't think he goes to usf, he lives around here though"
...,...,...
5567,1,"This is the 2nd time we have tried 2 contact u. U have won the å£750 Pound prize. 2 claim is easy, call 087187272008 NOW1! Only 10p per minute. BT-national-rate."
5568,0,Will Ì_ b going to esplanade fr home?
5569,0,"Pity, * was in mood for that. So...any other suggestions?"
5570,0,The guy did some bitching but I acted like i'd be interested in buying something else next week and he gave it to us for free
5571,0,Rofl. Its true to its name

## Tokenizing

In [33]:
import nltk

In [34]:
# 예시 코드 코드
from nltk.tokenize import word_tokenize

nltk.download('punkt')
word_tokenize(spam.iloc[5]['v2'])

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\iguv2\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

['FreeMsg',
 'Hey',
 'there',
 'darling',
 'it',
 "'s",
 'been',
 '3',
 'week',
 "'s",
 'now',
 'and',
 'no',
 'word',
 'back',
 '!',
 'I',
 "'d",
 'like',
 'some',
 'fun',
 'you',
 'up',
 'for',
 'it',
 'still',
 '?',
 'Tb',
 'ok',
 '!',
 'XxX',
 'std',
 'chgs',
 'to',
 'send',
 ',',
 'å£1.50',
 'to',
 'rcv']

In [35]:
nltk.download('stopwords')
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english')) 
print(stop_words)

{'very', 'such', 'needn', 'theirs', 'mightn', 'myself', 'each', 'do', 'at', 'will', 'until', 'don', 'weren', 'mustn', 'won', 'most', 'further', 'aren', 'then', "haven't", 'does', "isn't", 'few', 'same', 'a', 'when', 'ourselves', "mustn't", 've', 'an', 'yourself', "wouldn't", 'too', 'over', 'not', "couldn't", 'why', 'whom', "should've", 'which', 'ours', 'you', 'll', 'his', 'i', 'this', 'while', "that'll", "doesn't", 'or', 'as', 'was', "hadn't", 'been', 'am', 'he', 'other', 'had', 'some', 'through', "shan't", 'our', 'more', 'themselves', "needn't", 'couldn', 'after', 'those', 'both', 'ain', 'any', "wasn't", 'down', "don't", 'is', 'but', 'm', "shouldn't", "won't", 'isn', 'ma', 'above', 'its', 'own', 'have', 'being', 'yourselves', 'it', 'doing', 'y', 'that', 'no', "hasn't", "it's", 'their', 'how', 'in', 'against', 'out', 'on', 'here', 'hadn', 'only', 'the', 'she', 'my', 'shan', 'and', 'before', 'up', 'with', 'be', 'they', 'are', 'we', 'd', 'there', 'haven', 'her', 'to', 'doesn', 'if', 'into', 'nor', 'having', 'these', 'now', 'o', "weren't", 'by', 'below', 'hers', 'wasn', 'did', 'were', 'who', "didn't", 'hasn', 'herself', 'of', 'off', 'about', 'so', 't', "you'd", 'your', 'where', 'them', 'has', 'him', 'for', 'during', 'just', "aren't", 'than', "you've", 'once', 'itself', "she's", 'yours', "mightn't", 'wouldn', "you'll", 'can', 'all', 's', 'didn', 'should', 'himself', 'shouldn', "you're", 'from', 'because', 'what', 'again', 'between', 're', 'me', 'under'}

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\iguv2\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [36]:
wd_test = spam.copy()
result=[]
for row in wd_test.v2:
  tokenize = word_tokenize(row)
  words = [word for word in tokenize if word not in stop_words] # 불용어 제거
  result.append(words)

wd_test.v2 = result
wd_test

,v1,v2
0,0,"[Go, jurong, point, ,, crazy, .., Available, bugis, n, great, world, la, e, buffet, ..., Cine, got, amore, wat, ...]"
1,0,"[Ok, lar, ..., Joking, wif, u, oni, ...]"
2,1,"[Free, entry, 2, wkly, comp, win, FA, Cup, final, tkts, 21st, May, 2005, ., Text, FA, 87121, receive, entry, question, (, std, txt, rate, ), T, &, C, 's, apply, 08452810075over18, 's]"
3,0,"[U, dun, say, early, hor, ..., U, c, already, say, ...]"
4,0,"[Nah, I, n't, think, goes, usf, ,, lives, around, though]"
...,...,...
5567,1,"[This, 2nd, time, tried, 2, contact, u., U, å£750, Pound, prize, ., 2, claim, easy, ,, call, 087187272008, NOW1, !, Only, 10p, per, minute, ., BT-national-rate, .]"
5568,0,"[Will, Ì_, b, going, esplanade, fr, home, ?]"
5569,0,"[Pity, ,, *, mood, ., So, ..., suggestions, ?]"
5570,0,"[The, guy, bitching, I, acted, like, 'd, interested, buying, something, else, next, week, gave, us, free]"
5571,0,"[Rofl, ., Its, true, name]"

In [37]:
def tokenizing(tokenizer):
    result=[]
    for row in spam.v2:
        tokenize = tokenizer.tokenize(row)
        words = [word for word in tokenize if word not in stop_words] # 불용어 제거
        result.append(words)
    return result

In [38]:
from nltk.tokenize import TreebankWordTokenizer

tb_test = spam.copy()
tb_test.v2 = tokenizing(TreebankWordTokenizer())
print(tb_test)

      v1  \
0     0
1     0
2     1
3     0
4     0
...  ..
5567  1
5568  0
5569  0
5570  0
5571  0

                                                                                                                                                                                         v2
0     [Go, jurong, point, ,, crazy.., Available, bugis, n, great, world, la, e, buffet, ..., Cine, got, amore, wat, ...]
1     [Ok, lar, ..., Joking, wif, u, oni, ...]
2     [Free, entry, 2, wkly, comp, win, FA, Cup, final, tkts, 21st, May, 2005., Text, FA, 87121, receive, entry, question, (, std, txt, rate, ), T, &, C, 's, apply, 08452810075over18, 's]
3     [U, dun, say, early, hor, ..., U, c, already, say, ...]
4     [Nah, I, n't, think, goes, usf, ,, lives, around, though]
...                                                         ...
5567  [This, 2nd, time, tried, 2, contact, u., U, å£750, Pound, prize., 2, claim, easy, ,, call, 087187272008, NOW1, !, Only, 10p, per, minute., BT-national-rate, .]
5568  [Will, Ì_, b, going, esplanade, fr, home, ?]
5569  [Pity, ,, *, mood, that., So, ..., suggestions, ?]
5570  [The, guy, bitching, I, acted, like, 'd, interested, buying, something, else, next, week, gave, us, free]
5571  [Rofl., Its, true, name]

[5572 rows x 2 columns]

In [39]:
pd.set_option('display.max_colwidth', -1) # 전체 출력

result_tokenizing = pd.DataFrame([['word_tokenize', wd_test.iloc[5]['v2']],
                      ['TreebankWordTokenizer', tb_test.iloc[5]['v2']]], columns = ['Tokenizer', 'result'])
result_tokenizing

C:\Users\iguv2\AppData\Local\Temp/ipykernel_28772/1705942273.py:1: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1) # 전체 출력

,Tokenizer,result
0,word_tokenize,"[FreeMsg, Hey, darling, 's, 3, week, 's, word, back, !, I, 'd, like, fun, still, ?, Tb, ok, !, XxX, std, chgs, send, ,, å£1.50, rcv]"
1,TreebankWordTokenizer,"[FreeMsg, Hey, darling, 's, 3, week, 's, word, back, !, I, 'd, like, fun, still, ?, Tb, ok, !, XxX, std, chgs, send, ,, å£1.50, rcv]"

## Embedding

- 수업에서 다룬 임베딩 방법에는 One-hot encoding, CBOW, Skip-gram, GloVe, FastText가 있었습니다. 다양한 시도와 '비교' 결과를 함께 적어주세요! 파라미터를 조정해가는 과정도 해석에 도움이 될 수 있겠죠 :)

In [43]:
# 스팸에 대해 학습
from gensim.models import Word2Vec
mt_test = spam.copy()
model = Word2Vec(mt_test[mt_test.v1 == 1]['v2'], min_count=5, window=2, sg=1) # skip-gram

In [44]:
model.save('w2v_model_spam')

## 본인이 도출해낸 해석을 적어주세요!

- 유사도, Wordcloud, 이진 분류 모델, Plot 뭐든 상관없으니 분명하고 인상적인 해석을 적어주시면 됩니다.